{% extends "base.html" %}

{% block content %}

<div style="background: linear-gradient(to bottom, #ff7e5f, #feb47b); height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
    <h1 style="color: #fff; font-size: 36px; margin-bottom: 20px;">YAY! CONGRATS!</h1>
    <p style="color: #fff;">You have added a delivery address to the order.</p>
    <a href="/products" style="color: #fff; text-decoration: none; margin-top: 20px; padding: 10px 20px; border: 2px solid #fff; border-radius: 5px; font-size: 18px;">Buy More Stuff</a>
</div>

{% endblock %}
